.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #fff;

  .chatContainer {
    position: relative;
    height: 100%;

    .messages {
      height: 100%;

      .chatTop {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 6px 6px 0 0;
        background-color: #fff;

        p {
          padding: 10px;
          font-size: 14px;
          line-height: 1.5;
          background-color: #fff;

          &:first-child {
            border-radius: 6px 6px 0 0;
          }

          &:nth-child(2) {
            background-color: #eee;
          }
        }
      }

      .chatBox {
        overflow-y: auto;
        position: relative;
        height: calc(100% - 70px);
        border-radius: 6px;

        ::-webkit-scrollbar {
          display: none;
        }

        p {
          padding: 10px;
          font-size: 14px;
          line-height: 1.5;
          background-color: #eee;

          &:first-child {
            padding-top: 51px;
          }

          &:nth-child(even) {
            background-color: #fff;
          }
        }
      }
    }

    .sendBox {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: calc(100% - 20px);
      margin-top: auto;
      margin-bottom: 0px;
      padding: 10px;

      .send {
        position: relative;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        border: 1px solid rgba(153, 153, 153, 0.8);
        background: #fff;
        width: 100%;
        height: 47px;
        padding: 0 33px 0 10px;

        input {
          color: black;
          font-size: 14px;
          font-style: normal;
          line-height: normal;
          width: 100%;
          border: none;

          &:focus {
            outline: none;
          }
        }

        img {
          z-index: 10;
          position: absolute;
          top: 50%;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25px;
          height: 100%;
          padding: 0 4px;
          border-radius: 6px;
          background-color: #fff;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }
}
