.create {
  .container {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .gameBox {
      gap: 10px;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      .settingBox {
        .linkCopyBtn {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: #425d88;
          border: none;
          border-radius: 30px;
          width: 800px;
          height: 70px;
          flex-shrink: 0;
          margin-top: 30px;

          span {
            padding: 0px 30px;
            align-self: center;
            color: #fff;
            font-family: Itim;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          .linkBtn {
            text-decoration-line: underline;
            cursor: pointer;
          }
        }

        .canvas {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 800px;
          height: 600px;
          background-color: #fff;
          border-radius: 6px;

          .check {
            gap: 130px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 36px;

            p {
              color: #666;
              font-size: 18px;
              font-weight: 600;
              line-height: normal;
              width: 100px;
            }

            .selectBox {
              padding: 5px;
              font-size: 25px;
              width: 400px;
              height: 50px;
            }
          }

          button {
            color: #fff;
            text-align: center;
            margin-top: 200px;
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 500px;
            height: 60px;
            border: none;
            border-radius: 30px;
            background-color: #e08395;
          }
        }
      }
    }
  }
}
