@use './common' as *;

.room {
  .roomArea {
    display: flex;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);

    .roomGroup {
      display: flex;
      flex-direction: column;

      ~ .roomGroup {
        padding-left: 20px;
      }

      &:first-child {
        width: 18%;
      }
      &:nth-child(2) {
        width: 60%;
      }

      &:last-child {
        align-items: flex-end;
        width: 22%;
      }

      .logo {
        display: flex;
        height: 80px;
        background: url('../images/logo.png') center / 100% 100% no-repeat;
        cursor: pointer;
        a {
          @include blind;
        }
      }

      .quizArea {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.5);

        .timeArea {
          padding: 6px 0 0 6px;

          .time {
            display: flex;
            align-items: center;
            font-size: 28px;
            &::before {
              content: '';
              display: flex;
              width: 30px;
              height: 30px;
              margin-top: -4px;
              background: url('../images/icon/time.png') center / 30px 30px
                no-repeat;
            }
          }
        }

        .answerArea {
          display: flex;
          align-items: center;

          .answer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 6px;
            background-color: rgba(238, 238, 238, 0.6);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            ~ .answer {
              margin-left: 20px;
            }
          }
        }

        .btnArea {
          padding: 6px 6px 0 0;

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 24px;
            border: 1px solid #dedede;
            border-radius: 6px;
            background-color: #ddd;
          }
        }
      }

      .changeArea {
        height: calc(100% - 200px);
        margin-top: 20px;
        border-radius: 6px;
        background-color: #fff;

        .canvasArea {
          width: 100%;
          height: 100%;
        }

        .colorArea {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 80px;
          margin-top: 20px;
          padding: 0 20px;
          border-radius: 6px;
          background-color: #fff;

          li {
            ~ li {
              margin-left: 10px;
            }

            &.color {
              $color_list: (
                #f00,
                #ff8c00,
                #ff0,
                #008000,
                #00f,
                #4b0082,
                #800080,
                #fff,
                #000
              );

              @for $i from 1 to length($color_list) + 1 {
                &:nth-child(#{$i}) {
                  .formRadio {
                    + .formLabel {
                      background-color: nth($color_list, $i);
                    }
                  }
                }
              }
            }

            &.draw {
              $draw_list: (brush, eraser);

              @for $i from 1 to length($draw_list) + 1 {
                &:nth-child(#{$i + 9}) {
                  .formRadio {
                    + .formLabel {
                      background: url('../images/icon/#{nth($draw_list, $i)}.png')
                        center /
                        30px
                        30px
                        no-repeat;
                    }
                  }
                }
              }
            }

            .formRadio {
              display: none;

              + .formLabel {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 36px;
                width: 100%;
                min-height: 36px;
                height: 100%;
                outline: 1px solid #ccc;
                border-radius: 6px;
                cursor: pointer;

                span {
                  @include blind;
                }
              }

              &:checked {
                + .formLabel {
                  outline: 2px solid #000;
                }
              }
            }

            .btn {
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 80px;
              width: 100%;
              min-height: 36px;
              height: 100%;
              font-size: 16px;
              outline: 1px solid #ccc;
              border-radius: 6px;

              &:active {
                outline: 2px solid #000;
              }
            }
          }
        }
      }

      .settingArea {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        .btnArea {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70px;
          height: 32px;
          padding: 4px 10px;
          border-radius: 6px;
          background-color: rgba(238, 238, 238, 0.5);

          .btn {
            display: flex;
            width: 30px;
            height: 30px;

            &.lockOpen {
              background: url('../images/icon/lock_open.png') center / 30px 30px
                no-repeat;
            }

            &.lockClose {
              background: url('../images/icon/lock_close.png') center / 30px
                30px no-repeat;
            }

            span {
              @include blind;
            }
          }
        }

        .copyArea {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: calc(100% - 40px);
          margin-top: 9px;
          padding: 6px 20px;
          color: #fff;
          border-radius: 30px;
          background-color: #425d88;

          .btn {
            padding-bottom: 4px;
            border-bottom: 1px solid #fff;
          }
        }
      }

      .chatArea {
        width: 100%;
        height: 100%;
        margin-top: 20px;
      }
    }
  }
}
