.btn {
  display: flex;
  width: 30px;
  height: 30px;
  
  &.soundOpen {
    background: url('../images/icon/sound_open.png') center / 30px 30px
      no-repeat;
  }

  &.soundClose {
    background: url('../images/icon/sound_close.png') center / 30px 30px
      no-repeat;
  }
}
