.icon {
  display: flex;
  padding: 0 4px;
  width: 50px;
  height: 50px;

  &.soundOpen {
    background: url('../images/icon/sound_open.png') center / 30px 30px
      no-repeat;
  }

  &.soundClose {
    background: url('../images/icon/sound_close.png') center / 30px 30px
      no-repeat;
  }
}
